* { font-family: 'Maven Pro', sans-serif;}

body {margin:0px;}

a { 
  color: #333;
  cursor:pointer;
}
  
a:hover {
  color:white;
}

.three-link-mod {}

.my-head {
  max-width:100%;
  height:auto;
  border-radius:50%;
  padding:24px;
}

.feature-modules {
  max-width:75%;
  height:auto;
  border-radius:50%;
  border: solid;
}

#blurb { margin-bottom: 15px; }

#projects {height:100vh;}

@media (min-width: 768px) { 
  .feature-modules {
    max-width:35%;
    height:auto;
    border-radius:50%;
    border: solid;
  }
  .three-link-mod {
    padding:40px;
  }
  #blurb {display:none;}
}


.feature-modules:hover {
  border:dashed;
  color: #333;
}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

#slide1 {
  background:url(../images/picture-68321.jpg);
  margin:auto;
  height:572px;
  width:1000px;
}

.skill-box{
  border:solid .5px;
  border-radius:5px;
  height: 150px;
  padding: 10px;
}

.skill-box:hover{
  background-color:gray;
  color:white;
  font-weight:bold;
}
